Functions/YuanTu.XiaoShanZYY/Connected Services/HIS/hissvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="runservice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tradetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trademsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tradeout" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runserviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="runserviceResult" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="tradeout" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="runserviceSoapIn">
    <wsdl:part name="parameters" element="tns:runservice" />
  </wsdl:message>
  <wsdl:message name="runserviceSoapOut">
    <wsdl:part name="parameters" element="tns:runserviceResponse" />
  </wsdl:message>
  <wsdl:portType name="hissvrSoap">
    <wsdl:operation name="runservice">
      <wsdl:input message="tns:runserviceSoapIn" />
      <wsdl:output message="tns:runserviceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="hissvrSoap" type="tns:hissvrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runservice">
      <soap:operation soapAction="http://tempurl.org/runservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="hissvrSoap12" type="tns:hissvrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runservice">
      <soap12:operation soapAction="http://tempurl.org/runservice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="hissvr">
    <wsdl:port name="hissvrSoap" binding="tns:hissvrSoap">
      <soap:address location="http://192.168.0.107/bs_hisservice/hissvr.asmx" />
    </wsdl:port>
    <wsdl:port name="hissvrSoap12" binding="tns:hissvrSoap12">
      <soap12:address location="http://192.168.0.107/bs_hisservice/hissvr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>